extends ../layout

block content
  div#intro.intro
    div#intro__box.intro__box
      h1.intro__heading(data-text='WEBtlak*') WEBtlak*
      h2.intro__subheading * Dizajn / Technológie / Budúcnosť
      a.intro__version(href='#{FB_EVENT_URL}' target='_blank') #6
      img.intro__logo(src='/build/img/logo@2x.png')
      br
      a.intro__href(href='#{FB_EVENT_URL}' target='_blank')
        span.intro__date 24.5.2016 — 19:00
        br
        span.intro__place Záhrada CNK, Banská Bystrica
      a.intro__fb(href='#{FB_EVENT_URL}' target='_blank') facbook.com/webtlak

    div.intro__speakers
      a.intro__speaker.left(href='#{FB_EVENT_URL}' target='_blank' data-parallax='{"y": -150, "smoothness": 10}')
        span.intro__speaker-title Prezentácia designu
        span.intro__speaker-name Martin Janek

      a.intro__speaker.right(href='#{FB_EVENT_URL}' target='_blank' data-parallax='{"y": -200,  "smoothness": 10}')
        span.intro__speaker-title HTTP hlavičky: Zvyšovanie bezpečnosti webových aplikácií
        span.intro__speaker-name Tomáš Adamjak

  div.about
    p.about__text.
      WEBtlak je mladé pravidelné stretnutie  nadšencov o moderné technológie a dizajn v Banskej Bystrici. Stoja za ním <a href='http://slinto.sk' target='_blank'>Tomáš S.</a> - Front-end developer a <a href='http://tomaspinka.com' target='_blank'>Tomáš P.</a> - Designer. Spoločne s Vami, <a href='http://www.fpv.umb.sk/katedry/katedra-informatiky/' target='_blank'>Katedrou Informatiky</a> <a href='http://www.fpv.umb.sk/katedry/katedra-informatiky/' target='_blank'>UMB</a> chceme posúvať hranice digitálneho priestoru, kde trávime denno-denne veľa času. Rozprávme slovensky, pijeme kávu a žijeme aj offline životom. Budeme radi ak prídete povedať alebo si vypočuť aj vy niečo o zaujímavej téme a posunúť tlak vyššie. Ak máte otázku, alebo nás chcete hajpnúť tak <a href='mailto:pre@webtlak.sk'>pre@webtlak.sk</a>
      <br/><br/>
      <a href='http://eepurl.com/bCWFvb' target='_blank' class='about__newsletter'>—Dostávaj tlak pravidelne do mailu</a>

  div.archive__wrapper
    div.archive
      div.row
        div.archive__item(data-parallax='{"y": -200, "smoothness": 10}')
          p.archive__item-number #5
          span.archive__item-limiter
          p.archive__item-date 27.4.2016 — 19:00
          p.archive__item-place Záhrada CNK, Banská Bystrica

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=hoKhSSsS_s8')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Čo s programátorom, ktorý robí špagety?
            span.archive__item-speaker-name Tomáš Stankovič

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=7oS18mliS2A')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Nástroje moderného dizajnéra
            span.archive__item-speaker-name Tomáš Pinka

        div.archive__item(data-parallax='{"y": -150, "smoothness": 10}')
          p.archive__item-number #4
          span.archive__item-limiter
          p.archive__item-date 24.3.2016 — 19:00
          p.archive__item-place Záhrada CNK, Banská Bystrica

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=XbGGdJCCMrA')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Avocode - o firme, produkte a vývoji
            span.archive__item-speaker-name Martin Ďuriš, Jakub Žitný

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=PFv7hBhexzc')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Dizajn orientovaný na človeka
            span.archive__item-speaker-name Jozef Benko

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=hp0GIzRW-KI')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Ako na užívateľské testovanie
            span.archive__item-speaker-name Katarína Zalánová

        div.archive__item(data-parallax='{"y": -150, "smoothness": 10}')
          p.archive__item-number #3
          span.archive__item-limiter
          p.archive__item-date 25.2.2016 — 19:00
          p.archive__item-place Záhrada CNK, Banská Bystrica

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=Pnbhlz-Q6FY')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Budúcnosť mikroservisov
            span.archive__item-speaker-name Jakub Hadvig

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=QJTETl_10Gg')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Výtlak 10 ročnej praxe
            span.archive__item-speaker-name Tomáš Janek

        div.archive__item(data-parallax='{"y": -200, "smoothness": 10}')
          p.archive__item-number #2
          span.archive__item-limiter
          p.archive__item-date 3.2.2016 — 19:00
          p.archive__item-place Záhrada CNK, Banská Bystrica

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=MmhhFRDnp9o')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Ako použiť React.js
            span.archive__item-speaker-name Andrej Gajdoš

          a.archive__item-speaker.video(href='https://www.youtube.com/watch?v=MpTaP6umQvE')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Single Sign On
            span.archive__item-speaker-name Michal Vagač

        div.archive__item(data-parallax='{"y": -150, "smoothness": 10}')
          p.archive__item-number #1
          span.archive__item-limiter
          p.archive__item-date 3.12.2015
          p.archive__item-place Záhrada CNK, Banská Bystrica

          div.archive__item-speaker(title='No, nenahrali sme to')
            div.archive__item-speaker-icon
            span.archive__item-speaker-title Workflow
            span.archive__item-speaker-name Tomáš Pinka & Tomáš Stankovič


  div.partners__wrapper
    div.partners
      a.partners__item(href='#' target='_blank')
        img.partners__item-img.size-square(src='/build/img/partners/fpv@2x.png')
      a.partners__item(href='#' target='_blank')
        img.partners__item-img.size-square(src='/build/img/partners/startitup@2x.png')
      a.partners__item(href='#' target='_blank')
        img.partners__item-img.size-rect(src='/build/img/partners/bbonline@2x.png')