extends ../layout

block ogmeta
    meta(property="og:url" content="#{APP_HOST}/zachran-zapisnik")
    meta(property="og:site_name" content="WEBtlak")
    meta(property="og:type" content="website")
    meta(property="og:locale" content="sk_SK")
    meta(property="og:title" content="Zachráň zápisník - Staň sa hrdinom!")
    meta(property="og:description" content="Náš zápisík uniesli. Pomôž nám ho dostať späť!")
    meta(property="og:image" content="#{APP_HOST}/build/img/fb-share-zapisniky.png")

block vars
    - var bodyClass = 'no-padding';

block content
    div.zapisnik-intro
        if orderComplete == 'true'
            div.row
                div.zapisnik-thanks ĎAKUJEME
                a.zapisnik-share(href='https://www.facebook.com/sharer/sharer.php?u=webtlak.sk/zachran-zapisnik' target='_blank') ZDIEĽAJ NA FB
        if orderComplete == 'false'
            div.row
                div.zapisnik-thanks OUCH, ak chceš byť hrdina, vyplň prosím celý formulár.

        h2.zapisnik-intro__text.
            Máme pre vás zápisník. Vo štvrtok 1.12.2016 o 18:00 bol unesený 😢 a únoscovia požadujú výkupné  200€. Zápisníku ubližujú, týrajú ho a nám je smutno. Rozhodli sme sa, že ho spoločne s vami zachránime.   <span class="text-underline">Pre každého</span> kto prispeje na záchranu zápisníku <span class="text-underline">máme pripravenú jeho kópiu.</span>

        p.text-center
            a.zapisnik-intro__scroll#zapisnik-scroll-down(href='#') SKOČ DOLE

    div.zapisnik-sticky#zapisnik-video
        div.zapisnik-sticky__timeline(style='width:#{time.percentage}%')
        div.zapisnik-sticky__logo WEBtlak*
        div.zapisnik-sticky__time
            div.col.
                <div id="days">#{time.days}</div>:
                <span>dní</span>
            div.col.
                <div id="hours">#{time.hours}</div>:
                <span>hodín</span>
            div.col.
                <div id="minutes">#{time.minutes}</div>:
                <span>minút</span>
            div.col.
                <div id="seconds">#{time.seconds}</div>
                <span>sekúnd</span>
        a.zapisnik__button.go-to-form-button.sticky(href='#') ZACHRáň zápisník

    div.zapisnik-video
        - for (var i = 0; i < 6; i++)
            p.zapisnik-video__money.
                #{ordersLength * 2}€<span>/ 200€</span>
                <a class="zapisnik__button go-to-form-button" "href='#'">ZACHRáň zápisník</a>

        div.zapisnik-video__wrapper
            video(autoplay loop)
                source(src="/build/video_3.mp4" type="video/mp4")


    div.zapisnik-mobile-button
        a.zapisnik__button.go-to-form-button(href='#') ZACHRáň zápisník
    div.zapisnik-hrdinovia
        if ordersLength == 0
            p.zapisnik-hrdinovia__bg Budeš prvý
        else if ordersLength == 1
            p.zapisnik-hrdinovia__bg #{ordersLength} hrdina
        else if ordersLength > 1 && ordersLength < 5
            p.zapisnik-hrdinovia__bg #{ordersLength} hrdinovia
        else
            p.zapisnik-hrdinovia__bg #{ordersLength} hrdinov

        for order in orders
            p.zapisnik-hrdinovia__hrdina #{order.name}, #{order.city}


    div.zapisnik-form-wrapper#form-wrapper
        div.zapisnik-form__inner
            h3 Vyplň formulár a staň sa hrdinom. Dostaneš zápisník!

            form.zapisnik-form(action='/zachran-zapisnik' method='POST')
                div.col-2
                    input(type='text' name='name' placeholder='Meno a Priezvisko *' required)
                    input(type='text' name='street' placeholder='Ulica a číslo domu *' required)
                    input(type='text' name='city' placeholder='Mesto *' required)
                    input(type='text' name='postcode' placeholder='PSČ *' required)
                div.col-2
                    input(type='email' name='email' placeholder='E-mail *' required)
                    textarea(name='message' placeholder='Odkaz pre únoscov (napr. Zápisník si prídem prevziať osobne)')

                div.zapisnik-form__checkbox-wrapper
                    input#form-checkbox(type="checkbox" name="agree" value="YES" checked)
                    label(for="form-checkbox")
                        div.row
                            span.zapisnik-form__text-big 2,00€
                            span  + Dobierka / Osobný odber
                        div.row  Čestne prehlasujem že zložím výkupné keď sa vyzbiera požadovaná suma.


                input#form-submit.zapisnik__button(type='submit' value='Zaplatiť výkupné a stať sa hrdinom!')

    p.zapisnik-footer
        a.zapisnik-intro__scroll#zapisnik-scroll-up(href='#') HORE